= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'devise-form' }) do |f|
  %h2.devise-form__title Edit #{resource_name.to_s.humanize}
  = render "devise/shared/error_messages", resource: resource
  .devise-form__field
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .devise-form__field
    = f.password_field :password, autocomplete: "new-password", placeholder: "New password (leave blank if you don't want to change it)"
    - if @minimum_password_length
      %em.mt-2
        = @minimum_password_length
        characters minimum
  .devise-form__field
    = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm new password'
  .devise-form__field
    = f.password_field :current_password, autocomplete: "current-password", placeholder: 'Current password'
    %i (we need your current password to confirm your changes)
  .devise-form__actions
    = f.submit "Update", class: 'devise-form__button'
%h3.devise-form__subtitle Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'devise-form__link devise-form__link--danger'}
= link_to "Back", :back, class: 'devise-form__link'
