= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'devise-form' }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .devise-form__field
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
  .devise-form__field
    = f.password_field :password, autocomplete: "New password", placeholder: 'New password'
    - if @minimum_password_length
      %em.mt-2
        (#{@minimum_password_length} characters minimum)
  .devise-form__field
    = f.password_field :password_confirmation, autocomplete: "Password confirmation", placeholder: 'Password confirmation'
  .devise-form__actions
    = f.submit "Sign up", class: 'devise-form__button'
= render "devise/shared/links"
