- if resource.errors.any?
  #error_explanation.devise-form__errors
    %h2.devise-form__errors-message
      = I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) |
    %ul.devise-form__errors-message-list
      - resource.errors.full_messages.each do |message|
        %li= message
