= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'devise-form' }) do |f|
  %h2.devise-form__title Change your password
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .devise-form__field
    = f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: 'New password'
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
      %br/
  .devise-form__field
    = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation'
  .devise-form__actions
    = f.submit "Change my password"
= render "devise/shared/links"
