= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'devise-form' }) do |f|
  %h2.devise-form__title Forgot your password?
  = render "devise/shared/error_messages", resource: resource
  .devise-form__field
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
  .devise-form__actions
    = f.submit "Reset my password", class: 'devise-form__button'
= render "devise/shared/links"
