html {
    @apply h-screen w-screen;
}
body {
    @apply relative w-full h-full;
    @apply bg-pastel-100 text-pastel-700 font-basic;
}

.app {
    &__logo {
        @apply mb-10;
    }
    &__content {
        @apply flex flex-col justify-center items-center;
    }
    &__container {
        @apply w-full h-full p-8;

        &--vertically-flex-centered {
            @apply flex flex-col justify-center;
        }
    }
}
