.devise-form {
  @apply w-full;

  &__title {
    @apply text-xl mb-4;
  }
  &__subtitle {
    @apply text-lg mb-4;
  }
  &__field {
    @apply w-full pb-4;

    & input {
      @apply w-full py-3 pl-5 pr-10 rounded-full text-pastel-350 italic;
      @apply border-2 border-b-4 border-pastel-350 rounded-lg;
      &[type=email] {
        background-image: url('../../assets/images/email.svg');
        background-size: 16px;
        background-position: right 1rem center;

        @apply bg-no-repeat;
      }
      &[type=password] {
        background-image: url('../../assets/images/lock.svg');
        background-size: 16px;
        background-position: right 1rem center;

        @apply bg-no-repeat;
      }
    }
  }
  &__button {
    @apply w-full text-center rounded mb-4;
    @apply bg-primary-500 text-white py-2 px-5;
    @apply border-2 border-b-4 border-primary-700 rounded-lg;
  }
  &__link {
    @apply bg-transparent block text-xs text-primary-100 underline;
    &--danger {
      @apply text-danger;
    }
  }
  &__links-wrapper {
    @apply w-full text-left;
  }
  &__errors {
    @apply text-xs text-danger leading-tight pt-2 pb-4;
    &-message-list {
      @apply list-inside list-disc;
    }
  }
}
