= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'devise-form' } ) do |f|
  = render "devise/shared/error_messages", resource: resource
  .devise-form__field
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
  .devise-form__field
    = f.password_field :password, autocomplete: "current-password", placeholder: 'Password'
  - if devise_mapping.rememberable?
    .devise-form__field
      = f.check_box :remember_me
      = f.label :remember_me
  .devise-form__actions
    = f.submit "Log in", class: 'devise-form__button'
= render "devise/shared/links"
